body{

    background-color:whitesmoke;
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1em;


}

.login-form-to-align{
    width: 75%;
    padding: 40px 20px;


}

.table td {
    text-align: left;   

}



.form-group{ text-align: left;   }

.form-signin{ text-align: center;
padding-top: .5em;}
